body 
{
	background: rgb(205,145,148); /*fondo redgreenblue*/
	color: #000000; /*letra*/
	margin:0 auto; /*0 no hay movimiento vertical, auto mov horizontal (lo divide equitativamente)*/
	max-width: 1024px; /*ancho determinado de la pantalla*/
	/*color: hotpink;*/

}

header
{
	background: thistle;
	border: 1px solid black; /*alrededor*/
	border-radius:  5px; /*esquinas*/
	color: white; /*letra*/
}

header h1
{
	text-shadow: 5px 5px 10px black;
	text-align: center; /*centrar*/
}

header img
{
	/*logo tec*/
	float: right;
	margin-right: 20px;
	margin-top: 20px;
	width: 80px;
}

header nav ul li
{
	/*border: 1px solid black;*/
	background: white;
	border-radius: 5px;
	box-shadow: -5px -5px gray; /*sombra de caja*/
	color: black;
	display: inline-block; /*rompe caja*/
	margin: 0px 40px; /*arriba derecha abajo izquierda*/
	padding: 10px; /*se le aplica un margin interno a toda la caja*/
}

header nav ul li:hover /*cuando al li le ponga el mouse encima*/
{
	background: black;
	color: white;
}

/*Aquí van los ID's*/
#seccion1 
{
	border: 10px solid red;
}
#seccion1 article
{
	border: 10px solid black; /*enmarcando los artic que estan dentro de la seccion 1*/
	display: inline-block; /*no abarcará el ancho de la pantalla*/
	vertical-align: top; /*alineacion vertical hasta arriba*/
	width: 47.8%; /*ancho de cajas*/
}