body
{
	border: 1px solid blue;
	font-size: 16px;
	margin: 0 auto; /*centrar la caja de body*/
	max-width: 1024px; /*maximo de ancho*/
}

form
{
	float: right;
	margin-right: 20px; /*pone margen a la derecha al busca*/
	margin-top: -40px;
}

form input[type="button"]
{
	background: green;
	color: white;
}

header
{
	background: #B3D8EB;
}

header nav
{
	background: #0E6CB0; /*color de nav*/
	border-radius: 5px;
	margin: 0 auto;
	padding: 2px 0px 2px 0px;
	width: 99%;
}
header nav ul li
{
	color: white;
	display: inline-block; /*romper modelo de caja*/
	margin-right: 20px; /*separar las letras*/
}

#logo
{
margin-top: -200px;
}

#seccion01 article
{
	text-align: center;
}

#seccion01 article img
{
	border: 5px solid rgba(150,150,150, 0.5);
	margin-top: 15px;
	width: 98%;
}



